.customers-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    box-sizing: border-box;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border: 1px solid #2196f3;
    }
    .customers-item:hover & {
      border: 1px solid #2196f3;
    }
  }

  &-svg {
    height: 52px;
    fill: #afb1b8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .customers-list-link:hover &,
    .customers-list-link:focus & {
      fill: $accent-colour;
    }
  }
}
