.address {
  &-list {
    display: flex;
    align-items: center;
    margin-left: 305px;
  }

  &-elements {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 30px;
    }
    &-svg {
      margin-right: 10px;
      fill: $second-colour;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover .address-elements-svg,
    &:hover .address-email,
    &:hover .address-tell {
      fill: $accent-colour;
      color: $accent-colour;
    }
  }

  & .address-elements .link {
    display: flex;
    align-items: center;
  }

  &-tell,
  &-email {
    display: flex;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $second-colour;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus .address-elements-svg,
    &:focus .address-elements-svg,
    &:focus,
    &:focus {
      fill: $accent-colour;
      color: $accent-colour;
    }
  }
}
