.navigation {
  display: flex;
  align-items: center;

  &-link {
    font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: $main-colour;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover {
      color: $accent-colour;
    }

    &:focus {
      color: $accent-colour;
    }
  }

  &-list {
    display: flex;
    margin-left: 93px;
  }

  &-elements:not(:last-child) {
    margin-right: 50px;
  }
}
